<% layout('/layouts/default.html', {title: '交易流水管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('交易流水管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('cardtransaction:tblCardTransaction:edit')){ %>
					<a href="${ctx}/cardtransaction/tblCardTransaction/form" class="btn btn-default btnTool" title="${text('新增交易流水')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tblCardTransaction}" action="${ctx}/cardtransaction/tblCardTransaction/listData" method="post" class="form-inline<% if(hasRole()){ %>hide<% } %>"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('卡id')}：</label>
					<div class="control-inline">
						<#form:input path="cardId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
<!--				<div class="form-group">-->
<!--					<label class="control-label">${text('银行流水id')}：</label>-->
<!--					<div class="control-inline">-->
<!--						<#form:input path="spTransactionId" maxlength="256" class="form-control width-120"/>-->
<!--					</div>-->
<!--				</div>-->
				<div class="form-group">
					<label class="control-label">${text('卡号')}：</label>
					<div class="control-inline">
						<#form:input path="cardNo" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('持卡用户')}：</label>
					<div class="control-inline">
						<#form:input path="cardOwner" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('清算商户')}：</label>
					<div class="control-inline">
						<#form:input path="clearedMerchant" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('消费金额')}：</label>
					<div class="control-inline">
						<#form:input path="amount" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('商户')}：</label>
					<div class="control-inline">
						<#form:input path="merchantLogo" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('交易状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="transactionStatus" dictType="cm_trancaction_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('发生日期')}：</label>
					<div class="control-inline">
						<#form:input path="occurredDate" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('清算日期')}：</label>
					<div class="control-inline">
						<#form:input path="clearedDate" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('标签')}：</label>
					<div class="control-inline">
						<#form:input path="label" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('注释')}：</label>
					<div class="control-inline">
						<#form:input path="note" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('流水类型')}：</label>
					<div class="control-inline">
						<#form:input path="transactionType" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('税费')}：</label>
					<div class="control-inline">
						<#form:input path="fee" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('发卡商')}：</label>
					<div class="control-inline width-120">
						<#form:select path="spType" dictType="cm_card_sp" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("卡号")}', name:'cardNo', index:'a.card_no', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/cardtransaction/tblCardTransaction/form?id='+row.id+'" class="btnList" data-title="${text("编辑交易流水")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("交易商户")}', name:'clearedMerchant', index:'a.cleared_merchant', width:150, align:"left"},
		{header:'${text("交易金额")}', name:'amount', index:'a.amount', width:150, align:"center",formatter:function (val, obj, row, act) {
			    var price = val/100
				return (price<0?"-":"")+("$"+price).replace("-","");
			}},
		// {header:'${text("商户")}', name:'merchantLogo', index:'a.merchant_logo', width:90, align:"center",formatter:function (val, obj, row, act) {
		// 		return val!=undefined?'<img src="'+val+'" style="width: 20px;height: 20px">':"";
		// 	}},
		{header:'${text("清算状态")}', name:'transactionStatus', index:'a.transaction_status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('cm_trancaction_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("交易日期")}', name:'occurredDate', index:'a.occurred_date', width:150, align:"left"},
		{header:'${text("清算日期")}', name:'clearedDate', index:'a.cleared_date', width:150, align:"left"},
		{header:'${text("交易状态")}', name:'transactionType', index:'a.transaction_type', width:150, align:"center"},
		{header:'${text("标签")}', name:'label', index:'a.label', width:150, align:"left"},
		{header:'${text("注释")}', name:'note', index:'a.note', width:150, align:"left"},
		{header:'${text("税费")}', name:'fee', index:'a.fee', width:80, align:"center"},
		{header:'${text("操作")}', name:'actions', width:80, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('cardtransaction:tblCardTransaction:edit')){ %>
				actions.push('<a href="${ctx}/cardtransaction/tblCardTransaction/form?id='+row.id+'" class="btnList" title="${text("编辑交易流水")}"><i class="fa fa-pencil"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>