<% layout('/layouts/default.html', {title: 'tbl_budget管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('tbl_budget管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('budget:tblBudget:edit')){ %>
					<a href="${ctx}/budget/tblBudget/form" class="btn btn-default btnTool" title="${text('新增tbl_budget')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tblBudget}" action="${ctx}/budget/tblBudget/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('name')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('owner_usercode')}：</label>
					<div class="control-inline">
						<#form:input path="ownerUsercode" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('create_time')}：</label>
					<div class="control-inline">
						<#form:input path="createTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('account_id')}：</label>
					<div class="control-inline">
						<#form:input path="accountId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('card_service_provider')}：</label>
					<div class="control-inline">
						<#form:input path="cardServiceProvider" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('sp_budget_id')}：</label>
					<div class="control-inline">
						<#form:input path="spBudgetId" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('create_user_code')}：</label>
					<div class="control-inline">
						<#form:input path="createUserCode" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('所有的帐户值都为整数，实际使用除以100')}：</label>
					<div class="control-inline">
						<#form:input path="budgetAmount" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('total_amount')}：</label>
					<div class="control-inline">
						<#form:input path="totalAmount" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('spend_amount')}：</label>
					<div class="control-inline">
						<#form:input path="spendAmount" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('assign_amount')}：</label>
					<div class="control-inline">
						<#form:input path="assignAmount" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('unsign_amount')}：</label>
					<div class="control-inline">
						<#form:input path="unsignAmount" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('status')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('1.divyy帐户2本地帐户')}：</label>
					<div class="control-inline">
						<#form:input path="virtual" maxlength="4" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('建卡数限制')}：</label>
					<div class="control-inline">
						<#form:input path="cardCreateLimit" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("name")}', name:'name', index:'a.name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/budget/tblBudget/form?id='+row.id+'" class="btnList" data-title="${text("编辑tbl_budget")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("owner_usercode")}', name:'ownerUsercode', index:'a.owner_usercode', width:150, align:"left"},
		{header:'${text("create_time")}', name:'createTime', index:'a.create_time', width:150, align:"center"},
		{header:'${text("account_id")}', name:'accountId', index:'a.account_id', width:150, align:"left"},
		{header:'${text("card_service_provider")}', name:'cardServiceProvider', index:'a.card_service_provider', width:150, align:"left"},
		{header:'${text("sp_budget_id")}', name:'spBudgetId', index:'a.sp_budget_id', width:150, align:"left"},
		{header:'${text("create_user_code")}', name:'createUserCode', index:'a.create_user_code', width:150, align:"left"},
		{header:'${text("所有的帐户值都为整数，实际使用除以100")}', name:'budgetAmount', index:'a.budget_amount', width:150, align:"center"},
		{header:'${text("total_amount")}', name:'totalAmount', index:'a.total_amount', width:150, align:"center"},
		{header:'${text("spend_amount")}', name:'spendAmount', index:'a.spend_amount', width:150, align:"center"},
		{header:'${text("assign_amount")}', name:'assignAmount', index:'a.assign_amount', width:150, align:"center"},
		{header:'${text("unsign_amount")}', name:'unsignAmount', index:'a.unsign_amount', width:150, align:"center"},
		{header:'${text("status")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("1.divyy帐户2本地帐户")}', name:'virtual', index:'a.virtual', width:150, align:"center"},
		{header:'${text("建卡数限制")}', name:'cardCreateLimit', index:'a.card_create_limit', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('budget:tblBudget:edit')){ %>
				actions.push('<a href="${ctx}/budget/tblBudget/form?id='+row.id+'" class="btnList" title="${text("编辑tbl_budget")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/budget/tblBudget/delete?id='+row.id+'" class="btnList" title="${text("删除tbl_budget")}" data-confirm="${text("确认要删除该tbl_budget吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>