<% layout('/layouts/default.html', {title: '银行卡管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('银行卡管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('cardinfo:tblCardInfo:add')){ %>
					<a href="${ctx}/cardinfo/tblCardInfo/form" class="btn btn-default btnTool" title="${text('新增银行卡')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<% if(hasPermi('cardinfo:tblCardInfo:batchCharge')){ %>
				<a href="#" class="btn btn-default" id="batchChargeButton" title="${text('批量充值')}" onclick="batchChargeFunc()"><i class="fa fa-plus"></i> ${text('批量充值')}</a>
				<% } %>
                <% if(hasPermi('cardinfo:tblCardInfo:batchRefund')){ %>
                <a href="#" class="btn btn-default" id="batchRefundButton" title="${text('批量回收')}" onclick="batchRefundFunc()"><i class="fa fa-plus"></i> ${text('批量回收')}</a>
                <% } %>
                <% if(hasPermi('cardinfo:tblCardInfo:batchRefund')){ %>
                <a href="#" class="btn btn-default" id="batchDeleteButton" title="${text('批量删除')}" onclick="batchDeleteFunc()"><i class="fa fa-plus"></i> ${text('批量删除')}</a>
                <% } %>
				<div class="btn-group">
					<a href="javascript:" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-navicon"></i> <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="javascript:" id="btnExport"><i class="glyphicon glyphicon-export"></i> 导出</a></li>
						<li><a href="javascript:" id="btnImport"><i class="glyphicon glyphicon-import"></i> 导入</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tblCardInfo}" action="${ctx}/cardinfo/tblCardInfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('银行卡号')}：</label>
					<div class="control-inline">
						<#form:input path="cardNo" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('帐户id')}：</label>
					<div class="control-inline">
						<#form:input path="budgetId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('卡名')}：</label>
					<div class="control-inline">
						<#form:input path="cardName" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('持卡人')}：</label>
					<div class="control-inline">
						<#form:input path="cardOwner" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('卡消费分类')}：</label>
					<div class="control-inline width-120">
						<#form:select path="cardCategory" dictType="cm_card_catagory" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('card_id')}：</label>
					<div class="control-inline">
						<#form:input path="cardId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('卡面过期时间')}：</label>
					<div class="control-inline">
						<#form:input path="expiredDate" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('卡品牌')}：</label>
					<div class="control-inline width-120">
						<#form:select path="cardBrand" dictType="cm_bank_card_brand" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('卡状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="cardStatus" dictType="cm_card_bank_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>


// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	showCheckbox: true,
	columnModel: [
		{header:'${text("id")}', name:'cardNo', index:'a.id', width:100, align:"center", frozen:true, formatter: function(val, obj, row, act){
				return '<a href="${ctx}/cardtransaction/tblCardTransaction/list?cardId='+row.cardId+'" class="btnList" data-title="${text("查看流水")}">查看流水</a>';
			}},
		{header:'${text("卡号")}', name:'cardNo', index:'a.card_no', width:200, align:"center"},
		{header:'${text("有效期")}', name:'expiredDate', index:'a.expired_date', width:180, align:"left"},
		{header:'${text("cvv")}', name:'cvv', index:'a.cvv', width:100, align:"center"},
		{header:'${text("卡昵称")}', name:'nickname', index:'a.nickname', width:150, align:"center"},
		{header:'${text("exp")}', name:'exp', index:'a.exp', width:150, align:"center",hidden:true},
		{header:'${text("帐户id")}', name:'budgetId', index:'a.budget_id', width:150, align:"center",hidden:true},
		// {header:'${text("卡名")}', name:'cardName', index:'a.card_name', width:150, align:"center",hidden:true},
		{header:'${text("限额度")}', name:'cardLimit', index:'a.card_limit', width:150, align:"center",hidden:true},

		{header:'${text("卡类型")}', name:'cardType', index:'a.card_type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('cm_card_bank_divvy_type')}, val, '${text("未知")}', true);
		}},
		{header:'${text("卡余额")}', name:'cardAmount', index:'a.card_amount', width:150, align:"center", formatter: function(val, obj, row, act){
				return val/100;
			}},
		{header:'${text("上次充值时间")}', name:'lastChargeOn', index:'a.last_charge_on', width:150, align:"center",hidden:true},
		{header:'${text("消费金额")}', name:'cardSpendAmount', index:'a.card_spend_amount', width:150, align:"center"},
		{header:'${text("持卡人")}', name:'cardOwner', index:'a.card_owner', width:150, align:"center",hidden:true},
		{header:'${text("账单地址")}', name:'cardBillingAddress', index:'a.card_billing_address', width:150, align:"center",hidden:true},
		{header:'${text("卡消费分类")}', name:'cardCategory', index:'a.card_category', width:150, align:"center", hidden:true,formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('cm_card_catagory')}, val, '${text("未知")}', true);
		}},
		{header:'${text("card_id")}', name:'cardId', index:'a.card_id', width:150, align:"left",hidden:true},

		{header:'${text("卡品牌")}', name:'cardBrand', index:'a.card_brand', width:150, align:"center",hidden:true, formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('cm_bank_card_brand')}, val, '${text("未知")}', true);
		}},
		{header:'${text("卡状态")}', name:'cardStatus', index:'a.card_status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('cm_card_bank_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('cardinfo:tblCardInfo:edit')){ %>
				actions.push('<a href="${ctx}/cardinfo/tblCardInfo/form?id='+row.id+'" class="btnList" title="${text("编辑银行卡")}"><i class="fa fa-pencil"></i></a>&nbsp;');
			<% } %>
			<% if(hasPermi('cardinfo:tblCardInfo:delete')){ %>
					actions.push('<a href="${ctx}/cardinfo/tblCardInfo/delete?id='+row.id+'" class="btnList" title="${text("删除银行卡")}" data-confirm="${text("确认要删除该银行卡吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
				<% } %>
			<% if(hasPermi('cardinfo:tblCardInfo:charge')){ %>
					actions.push('<a href="#" onclick="chargeCard('+row.id+')" title="${text("银行卡充值")}"><i class="fa fa-paypal"></i></a>&nbsp;');
				<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});

$(document).ready(function () {
});

function batchChargeFunc() {
	var rows = $('#dataGrid').dataGrid('getSelectRows');
	batchChargeCard(rows);
}

function batchRefundFunc() {
    var rows = $('#dataGrid').dataGrid('getSelectRows');
    batchRefund(rows);
}
function batchRefund(ids) {
    if (ids.length<=0){
        return js.showMessage("请先选中卡片","提示","warning", 4000);
    }
    js.confirm("确定把选定的卡的余额收回（剩下0.01）？",
        function () {
            $.ajax({
                type: "POST",
                url:  "${ctx}/cardinfo/tblCardInfo/batchRefund",
                data: {ids: ids},
                dataType: "json",
                traditional:true,
                async:false,
                success: function (data) {
                    js.closeLoading(1000, true);
                    if(data.result == Global.TRUE){
                        js.showMessage(data.message,"消息","success", 4000);
                        $('#dataGrid').dataGrid('refresh');
                    }else {
                        js.showMessage(data.message, "消息", "error", 4000);
                    }
                },
                error: function (e) {
                    js.closeLoading(1000, true);
                    console.log(e);
                }
            });
        },
        {}, function () {

    }, "json", false, "回收中...");
}
function chargeCard(id) {

	layer.prompt({title: '输入充值数额，并确认', formType: 0}, function (pass, index) {
		js.loading("充值中");
		$.ajax({
			type: "POST",
			url: "${ctx}/cardinfo/tblCardInfo/charge",
			data: {id: id, amount: pass},
			dataType: "json",
            traditional:true,
			async:false,
			success: function (data) {
				js.closeLoading(1000, true);
				if(data.result == Global.TRUE){
					js.showMessage(data.message,"消息","success", 4000);
					layer.close(index);
					$('#dataGrid').dataGrid('refresh');
				}else {
					js.showMessage(data.message, "消息", "error", 4000);
				}
			},
			error: function (e) {
				js.closeLoading(1000, true);
				console.log(e);
				layer.close(index);
			}
		});
	});
}

function batchChargeCard(ids) {
	if (ids.length<=0){
		return js.showMessage("请先选中卡片","提示","warning", 4000);
	}
	layer.prompt({title: '输入每张卡的充值数额，并确认', formType: 0}, function (pass, index) {
		js.loading("充值中");
		$.ajax({
			type: "POST",
			url: "${ctx}/cardinfo/tblCardInfo/batchCharge",
			data: {ids: ids, amount: pass},
			dataType: "json",
            traditional:true,
			async:false,
			success: function (data) {
				js.closeLoading(1000, true);
				if(data.result == Global.TRUE){
					js.showMessage(data.message,"消息","success", 4000);
					layer.close(index);
					$('#dataGrid').dataGrid('refresh');
				}else {
					js.showMessage(data.message, "消息", "error", 4000);
				}
			},
			error: function (e) {
				js.closeLoading(1000, true);
				console.log(e);
				layer.close(index);
			}
		});
	});
}

function batchDeleteFunc() {
    var rows = $('#dataGrid').dataGrid('getSelectRows');
    batchDelete(rows);
}
function batchDelete(ids) {
    if (ids.length<=0){
        return js.showMessage("请先选中卡片","提示","warning", 4000);
    }
    js.confirm("确定把选定的卡删除？",
        function () {
            $.ajax({
                type: "POST",
                url:  "${ctx}/cardinfo/tblCardInfo/batchDelete",
                data: {ids: ids},
                dataType: "json",
                traditional:true,
                async:false,
                success: function (data) {
                    js.closeLoading(1000, true);
                    if(data.result == Global.TRUE){
                        js.showMessage(data.message,"消息","success", 4000);
                        $('#dataGrid').dataGrid('refresh');
                    }else {
                        js.showMessage(data.message, "消息", "error", 4000);
                    }
                },
                error: function (e) {
                    js.closeLoading(1000, true);
                    console.log(e);
                }
            });
        },
        {}, function () {

        }, "json", false, "删除中...");
}

</script>