<% layout('/layouts/default.html', {title: '卡信息表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('卡信息表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('card:cardInfo:edit')){ %>
					<a href="${ctx}/card/cardInfo/form" class="btn btn-default btnTool" title="${text('新增卡信息表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${cardInfo}" action="${ctx}/card/cardInfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('card_name')}：</label>
					<div class="control-inline">
						<#form:input path="cardName" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('card_num')}：</label>
					<div class="control-inline">
						<#form:input path="cardNum" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('create_time')}：</label>
					<div class="control-inline">
						<#form:input path="createTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('owner_user_id')}：</label>
					<div class="control-inline">
						<#form:input path="ownerUserId" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('update_time')}：</label>
					<div class="control-inline">
						<#form:input path="updateTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("card_name")}', name:'cardName', index:'a.card_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/card/cardInfo/form?id='+row.id+'" class="btnList" data-title="${text("编辑卡信息表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("card_num")}', name:'cardNum', index:'a.card_num', width:150, align:"center"},
		{header:'${text("create_time")}', name:'createTime', index:'a.create_time', width:150, align:"center"},
		{header:'${text("owner_user_id")}', name:'ownerUserId', index:'a.owner_user_id', width:150, align:"center"},
		{header:'${text("update_time")}', name:'updateTime', index:'a.update_time', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('card:cardInfo:edit')){ %>
				actions.push('<a href="${ctx}/card/cardInfo/form?id='+row.id+'" class="btnList" title="${text("编辑卡信息表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/card/cardInfo/delete?id='+row.id+'" class="btnList" title="${text("删除卡信息表")}" data-confirm="${text("确认要删除该卡信息表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>