<% layout('/layouts/default.html', {title: '订单管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('订单管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('order:tblOrder:edit')){ %>
					<a href="${ctx}/order/tblOrder/form" class="btn btn-default btnTool" title="${text('新增订单')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tblOrder}" action="${ctx}/order/tblOrder/listData" method="post" class="form-inline <% if(hasRole()){ %>hide<% } %>"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('订单类型')}：</label>
					<div class="control-inline width-120">
						<#form:select path="type" dictType="cm_order_type" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('提交时间')}：</label>
					<input type="text" id="submitTime_gte" name="submitTime_gte" value="" readonly="true" maxlength="20" class="form-control Wdate-date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){submitTime_lte.click()}});">
					&nbsp;--&nbsp;
					<input type="text" id="submitTime_lte" name="submitTime_lte" value="" readonly="true" maxlength="20" class="form-control Wdate-date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});">

				</div>
			<% if(hasRole()){ %>
			<div class="form-group">
				<label class="control-label">${text('提交用户')}：</label>
				<div class="control-inline">
					<#form:treeselect id="submitUsercode" title="提交用户"
					path="submitUsercode" labelPath="userName"
					url="${ctx}/sys/office/treeData?isLoadUser=true" allowClear="true"/>
				</div>
			</div>

			<% } %>
				<div class="form-group">
					<label class="control-label">${text('审核时间')}：</label>
					<div class="control-inline">
						<#form:input path="auditTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('订单状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="payStatus" dictType="cm_order_pay_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group hide">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("ID")}', name:'id', index:'a.id', width:150, align:"center", frozen:true,hidden:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/order/tblOrder/form?id='+row.id+'" class="btnList" data-title="${text("编辑订单")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("订单类型")}', name:'type', index:'a.type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('cm_order_type')}, val, '${text("未知")}', true);
		}},
		{header:'${text("充值金额")}', name:'chargeAmount', index:'a.charge_amount', width:150, align:"center",formatter: function(val, obj, row, act){
				return val/100;
			}},

		{header:'${text("审核用户")}', name:'auditUsercode', index:'a.audit_usercode', width:150, align:"center",hidden:true},
		{header:'${text("审核时间")}', name:'auditTime', index:'a.audit_time', width:150, align:"center",hidden:true},
		{header:'${text("制卡数量")}', name:'batchCardNum', index:'a.batch_card_num', width:150, align:"center"},
		{header:'${text("卡单价")}', name:'batchCardAmount', index:'a.batch_card_amount', width:120, align:"center",formatter: function(val, obj, row, act){
			if (row.type=="batchCreateCard"){
				return parseInt("${@CommonUtil.getPerCardPrice()}")/100;
			}else{
			    return 0;
			}
			}},
		{header:'${text("卡面值")}', name:'batchCardAmount', index:'a.batch_card_amount', width:120, align:"center",formatter: function(val, obj, row, act){
				return val/100;
			}},
		{header:'${text("订单总额(USD)")}', name:'orderAmount', index:'a.order_amount', width:150, align:"center",formatter: function(val, obj, row, act){
				return val/100;
			}},
			{header:'${text("今日汇率")}', name:'orderAmount', index:'a.order_amount', width:150, align:"center",formatter: function(val, obj, row, act){
				return parseInt('${@CurrencyUtil.GetUSDToRMBCurrency()}')/100;
			}},
		{header:'${text("订单总额(RMB)")}', name:'orderAmount', index:'a.order_amount', width:150, align:"center",formatter: function(val, obj, row, act){
				return $.TransferUsdToRmb(${@CurrencyUtil.GetUSDToRMBCurrency()}, val);
			}},
		{header:'${text("订单状态")}', name:'payStatus', index:'a.pay_status', width:210, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('cm_order_pay_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", hidden:true,formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("提交时间")}', name:'submitTime', index:'a.submit_time', width:150, align:"center"},
		{header:'${text("提交用户")}', name:'submitUsercode', index:'a.submit_usercode', width:150, align:"center",formatter:function (val, obj, row, act) {
				var user  =$.GetUser(val);
			return user!=undefined?$.GetUser(val).userName:"未知用户";
			}},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('order:tblOrder:edit')){ %>
					if(row.payStatus=='01'||row.payStatus=='00') {
						actions.push('<a href="${ctx}/order/tblOrder/form?id=' + row.id + '" class="btnList" title="${text("编辑订单")}"><i class="fa fa-pencil"></i></a>&nbsp;');
					}
				<% } if(hasPermi('order:tblOrder:delete')){ %>
					if(row.payStatus=='01'||row.payStatus=='00') {
						actions.push('<a href="${ctx}/order/tblOrder/delete?id=' + row.id + '" class="btnList" title="${text("删除订单")}" data-confirm="${text("确认要删除该订单吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
					}else{
					<% if(hasRole()){ %>
						actions.push('<a href="${ctx}/order/tblOrder/delete?id=' + row.id + '" class="btnList" title="${text("删除订单")}" data-confirm="${text("确认要删除该订单吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
					<%}%>
					}
				<% } if(hasPermi('order:tblOrder:audit')){ %>
					if(row.payStatus=='02'||row.payStatus=='04'||row.payStatus=='06') {
						actions.push('<a href="${ctx}/order/tblOrder/audit?id=' + row.id + '" class="btnList" title="${text("审核订单")}" data-confirm="${text("确认要审核该订单吗？")}"><i class="fa  fa-paypal"></i></a>&nbsp;');
						actions.push('<a href="${ctx}/order/tblOrder/auditBack?id=' + row.id + '" class="btnList" title="${text("退回订单")}" data-confirm="${text("确认要审核该订单吗？")}"><i class="fa  fa-backward"></i></a>&nbsp;');
					}
                <% }  if(hasPermi('order:tblOrder:submit')){ %>
                   if(row.payStatus=='01'||row.payStatus=='00') {
                        actions.push('<a href="${ctx}/order/tblOrder/submit?id='+row.id+'" class="btnList" title="${text("提交订单")}" data-confirm="${text("确认要提交该订单吗？")}"><i class="fa  fa-upload"></i></a>&nbsp;');
                    }

				<% } %>

			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});
</script>